*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana;
    text-transform: capitalize;
}
/* ------------nav---------------- */
nav
{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 3px 3px rgba(128, 128, 128, 0.541);
    letter-spacing: 3px;
    word-spacing: 5px;
    z-index: 2;
}
nav p
{
    margin-left: 20px;
    cursor: pointer;
    padding: 10px 20px;
}
nav p:hover
{
    background: grey;
}

nav p span
{
    font-weight: bold;
}
nav ul
{
    list-style: none;
    display: flex;
}
nav ul a
{
    margin: 0px 3px;
    cursor: pointer;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}
nav ul a:hover
{
    background: grey;
}
header
{
    background: url("images/header.jpg") no-repeat;
    background-size: cover;
    width:99%;

    height: 104vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
header p
{
    color:white;
    font-size: 30px;
    letter-spacing: 3px;


}
header p span
{
    background: black;
    opacity: 80%;
    padding: 12px 16px;
    font-weight: bold;
}
main
{
    width: 96%;
    height: 200px;
    margin: auto;
}
main .projects .title,main .about .title,main .contact .title  
{
    margin-top: 70px;
    font-size: 27px;
    border-right: red 3px solid;
    padding-right: 10px;
    width: fit-content;
    margin-bottom: 20px;
}
main .projects hr, main .about hr, main .contact hr
{
    opacity: 25%;
    margin-bottom: 30px;
}

main .projects .row, main .about .row
{

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
main .projects .row .item:hover{
    transform: scale(1.1,1.1);
    z-index: 1.5;

}

main .projects .row .item
{
    width: calc(100% / 4 - 10px);
    position: relative;
    transition: .5s all;


}
main .projects .row .item img
{
    width: 100%;
        z-index: 1;

}

main .projects .row .item p
{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px 20px;
    background: black;
    color :white;
}
main .about .row .item
{
    width: calc(100% / 4 - 10px);

}
main .about .row .item img
{
    width: 100%;
}
main .about .row .item .cardtitle
{
    margin: 15px 0px;
    font-size: 20px;
}
main .about .row .item span
{
    color:grey;
    font-size: 15px;
    margin: 15px 0px;

}
main .about .row .item .body
{
    margin: 15px 0px;
}
main .about .row .item button
{
    width: 100%;
    height: 40px;
    background: rgba(128, 128, 128, 0.272);
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
main .about .row .item button:hover
{
    background: rgba(128, 128, 128, 0.5);

}
main .contact form input
{
    width: 100%;
    margin: 10px 0px;
    border: 2px solid rgba(128, 128, 128, 0.336);
    height: 40px;
    font-size: 16px;
    padding: 0px 7px;
}
main .contact form button
{
    border: none;
    font-size: 17px;
    background: black;
    padding: 10px 20px;
    color:white;
    margin:20px 0px;
}